/* DO NOT TOUCH */
.spot {
  width: 80px;
  height: 80px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}



/* BACKGROUND */
body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* NAVIAGTION BAR */
.nav ul {
  list-style: none;
  background: black;
  text-align: center;
  padding: 0: margin:0;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 25px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 450px;
}

.nav a:hover {
  background: #333333;
  transition: 0.4s;
}

#title {
  background-color: black;
  border: 5px solid black;
  color: white;
  line-height: 55px;
  text-align: center;
  width: auto;
}

/* TITLE */
#introtext {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 30px;
  margin: 2%;
  background-blend-mode: color-dodge;
  color: white;
  background: black;
}
