#bREAKBOARD {


}
#start {
    padding : 20px;
    background-color: gray;
    outline-style: solid;
    outline-color: lightgray;
    width : 150px;
    color: white;
    position : absolute;
    bottom : 300px;
    left: 500px;
}
