/*
 * Sets the overall styles for the page. There aren't many. All text
 * is centered, and the font is a monospaced Roboto (from Google).
 */

body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: "Roboto", monospace;
}

/*
 * The header has a different font than the rest of the page. It's the
 * title, so it makes sense to make it a little different (and bigger).
 */

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}

/*
 * The subheader (which let's us know whose turn it is) is a little smaller
 * and less prominent.
 */

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

/*
 * The container is a flex-box, which is a powerful layout tool. It grows
 * dyanamically, and allows us to position our elements with precision.
 */

.container {
  display: flex;                /* set our display property to use flex-box */
  justify-content: center;      /* center container horizontally */
  align-items: center;          /* center content vertically */
}

/*
 * We want to display the subheader, board, and reset button in a single
 * vertical column.
 */

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;       /* align children in columns instead of rows */
}

/*
 * This ensures that we get three rows of three squares, rather than a single
 * row of nine squares.
 */

.wrap {
  flex-wrap: wrap;              /* tells container to drop down once it reaches max-width */
  height: 456px;
  width: 456px;
}

/*
 * The square itself. We give it a specific size and border.
 */

 .square {
   border: 1px solid rgba(0, 0, 0, 0.75);
   font-size: 96px;
   height: 150px;
   line-height: 150px;
   user-select: none;
   width: 150px;
   background-color: rgba(0,0,0, 0.5);
   color: white;
 }

/*
 * And we give it a little flare when the user mouses over a square.
 */

.square:hover {
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
}

/*
 * The reset button sits just below the board.
 */

#reset-button {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

/*
 * And a little flare when the user mouses over the button. The color scheme
 * switches (background and foreground).
 */

#reset-button:hover {
  font-size: 24px;
  transition: 0.6s;
  cursor: pointer;
}
#Wincount {
    position : static;
    left: 20%;
    bottom: 20%;
}
#X {
    color : black;
    text-align: inherit;
}
#O {
    color : black;
    text-align: inherit;
}
#O:hover {
    color : orange;
    cursor: pointer;
}
#X:hover {
    color : orange;
    cursor: pointer;
}


/* NAVIAGTION BAR */

.nav ul {
  list-style: none;
  background: black;
  text-align: center;
  padding: 0: margin:0;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 25px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 450px;
}

.nav a:hover {
  background: #333333;
  transition: 0.4s;
}
